---

- name: Install EPEL release
  yum:
    name: epel-release
    state: latest
    update_cache: yes
  become: yes
  when: ansible_distribution == 'CentOS' or ansible_distribution == 'Red Hat Enterprise Linux'
