[Unit]
Description=Nginx service with docker compose
PartOf=docker.service
After=docker.service

[Service]
Type=oneshot
RemainAfterExit=true
WorkingDirectory={{ buildbot_home }}
ExecStart=/usr/bin/docker compose up -d --remove-orphans proxy
ExecStop=/usr/bin/docker compose rm -sfv proxy

[Install]
WantedBy=multi-user.target
