server {
    # Enforce HTTPS by redirecting requests
    listen 80;
    listen [::]:80;
    server_name {{inventory_hostname}};
    location / {
        return 301 https://$host$request_uri;
    }

    # Deliver ACME challanges for Let's Encrypt
    location /.well-known/acme-challenge {
        alias /var/www/challenges;
        add_header Content-Type application/jose+json;
    }
}
