[Unit]
Description=Keeps a tunnel to {{ groups['master'][0] }} open
After=network-online.target

[Service]
User={{ buildbot_user }}
# -p [PORT]
# -l [user]
# -M 0 --> no monitoring
# -N Just open the connection and do nothing (not interactive)
# LOCALPORT:IP_ON_EXAMPLE_COM:PORT_ON_EXAMPLE_COM
ExecStart=/usr/bin/autossh -M 0 -nNT -q -o "ServerAliveInterval 60" -o "ServerAliveCountMax 3" -p 22 -l {{ hostvars[groups['master'][0]]['buildbot_user'] }} {{ groups['master'][0] }} -L 9989:127.0.0.1:9989 -R {{ buildbot_home }}/{{ inventory_hostname }}.sock:/var/run/docker.sock -i {{ buildbot_home }}/.ssh/id_rsa
Restart=always

[Install]
WantedBy=multi-user.target
