[Unit]
Description=Opencast build service
After=local-fs.target
After=network.target

[Service]
ExecStart=/home/opencast/opencast-build.sh
User=opencast
Group=opencast

[Install]
Also=opencast-build.timer
