[Unit]
Description=BuildBot worker service
After=network.target

[Service]
User={{ buildbot_user }}
Group={{ buildbot_user }}
WorkingDirectory={{ buildbot_home.stdout_lines[0] }}/{{ inventory_hostname }}
ExecStart=/usr/local/bin/buildbot-worker start --nodaemon

[Install]
WantedBy=buildbot.service
